@use './componentStyle/componentStyle.scss' as *;

.column-container {
  background-color: $columnBackgroundColor;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  width: clamp(350px, 40vw, 500px);
  height: 700px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  &-none {
    background-image: url();
  }
  &-drill {
    background-image: url('../assets/bg-drill.png');
    animation: animatedBackground 0.6s ease-in-out;
  }
  &-stock {
    background-image: url('../assets/bg-stock.png');
    animation: animatedBackground 0.6s ease-in-out;
  }
}

@keyframes animatedBackground {
  from {
    background-size: 1%;
  }
  to {
    background-size: 60%;
  }
}

.column-title {
  background-color: $columnTitleColor;
  height: 60px;
  cursor: grab;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  font-weight: bold;
  color: #fff;

  &-icon {
    display: inline-block;
    margin-right: 8px;
    font-size: 20px;
  }
}

.column-drill-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 16px;
  padding: 8px;
  overflow-x: hidden;
  overflow-y: auto;
}

.column-drill-item {
  margin: 16px;
  border-radius: 6px;
  padding: 0;
}

@media (max-width: 768px) {
  .column-container {
    width: min(400px, 90vw);
    height: clamp(550px, 80vh, 700px);
  }
}
