@use './componentStyle/componentStyle.scss' as *;

.drill-item {
  margin: 16px;
  max-height: 100px;

  &-label {
    margin: 0;
    padding: 0;
  }

  &-done {
    text-decoration: line-through;
    margin: 0;
    padding: 0;
  }
}
