// @use './componentStyle/componentStyle.scss' as *;

.main-wrapper {
  margin: auto;
  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 40px;
}

.context-wrapper {
  margin: auto;
  &-sortable {
    display: flex;
    gap: 16px;
  }
}
