@use './componentStyle/componentStyle.scss' as *;

.main-wrapper {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 32px;
  padding: 16px;
}

.dialog-textarea {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .main-wrapper {
    flex-direction: column;
    margin-top: 32px;
    padding: 8px;
  }
}
