.fab-wrapper {
  position: fixed;
  bottom: 64px;
  right: 18px;
  z-index: 1000;
}

.fab-wheel {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 48px;
  height: 100px;
}

.fab-action {
  position: absolute;
  background: #fff;
  font-size: 42px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.3);
}

.fab-action:hover {
  background-color: #c5d116;
}

.fab-action-1 {
  right: 0;
  top: 0;
}

.fab-action-2 {
  right: 0;
  bottom: 0;
}

.fab-action-3 {
  right: 0;
  top: -100px;
  color: yellowgreen;
}

.fab-wrapper.desktop {
  display: none;
}

@media (min-width: 768px) {
  .fab-wrapper.desktop {
    display: none;
  }
}
